.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

#header h1 {
	font-size: 2em;
	font-weight: bold;
}

#header nav ul {
	list-style: none;
}

#header li {
	display: inline;
}

div.form, div.index, div.view {
    float: none;
    width: auto;
    border-left: 0;
}

.profile-view {
	width: 60%;
}

.profile-view div {
	margin-left: 20px;
}

.profile-view div:first-child {
	margin-left: 0;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.messages table {
	border-collapse: collapse;
}

.messages table tr td {
	border: 1px solid #DDD;
}

.messages table tr:nth-child(2n) {
    background: none;
    height: 20px;
}

.messages-avatar {
	width: 128px;
}

.messages-list-actions {
	vertical-align: middle;
	width: 90px;
}

.messages-list .disabled {
	display: none;
}

.search-container {
	width: 40%;
	margin-bottom: 10px;
}

.search {
	text-align: right;
}

.search input[type="text"] {
	width: 40%;
}